html {
    background-color: hotpink;
}
copyright {
    text-align: center
}

copy-text {
    text-align: center
}
welcomeMessage {
    color: grey;
    text-align: center
}

playButton {
    background-color: #5BC6C9;
}
